# Created by https://www.toptal.com/developers/gitignore/api/java
# Edit at https://www.toptal.com/developers/gitignore?templates=java

### Java ###
# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
replay_pid*

# End of https://www.toptal.com/developers/gitignore/api/java
/Calculadora/target/
/Tp1/Ej2/target/
/Tp1/Ej3/target/
/Tp1/Ej4/target/
/Tp1/Ej5/target/
/Tp1/Ej6/target/
/Tp1/Ej7/target/
/Tp1/Ej8/target/
/Tp1/Ej9/target/
/Tp1/Ej10/target/
/Tp1/Ej11/target/
/Tp1/Ej12/target/
/Tp1/Ej13/target/
/Tp1/Ej14/target/
/Tp1/Ej15/target/
/Tp1/Ej16/target/
/Tp1/Ej17/target/
/Tp1/Ej18/target/
/Tp1/Ej19/target/
/Tp1/Ej20/target/
/Tp1/Ej20/nbproject/private/
/Tp1/Ej20/build/
/Tp2/Ej1/nbproject/private/
/Tp2/Ej2/nbproject/private/
/Tp2/Ej2/build/
/Tp2/Ej3/nbproject/private/
/Tp2/Ej4/nbproject/private/
/Tp2/Ej6/nbproject/private/
/Tp2/Ej7/nbproject/private/
/Tp2/Ej11/nbproject/private/
/Tp2/Ej6/build/
/Tp2/Ej11/build/
/Tp1/Progresiones/nbproject/private/
/Tp1/Progresiones/build/
/Tp1/Ej20Simple/nbproject/private/
/Tp1/Ej20Simple/build/
/Tp2/Ej3/build/
/Tp2/Ej4/build/
/Tp2/Ej4y5/nbproject/private/
/Tp2/Ej4y5/build/
/Tp2/Ej7/build/
/Tp2/Ej8/nbproject/private/
/Tp2/Ej8/build/
/Tp2/Ej9/nbproject/private/
/Tp2/Ej10/nbproject/private/
/Tp2/Ejercicio12/nbproject/private/
/Tp2/Ejercicio12/build/
/Tp2/Ej13/nbproject/private/
/Tp2/Ej13/build/
/Tp3/Ej1/nbproject/private/
/Tp3/Ej1/build/
/Tp3/Ej5/build/
/Tp3/Ej5/nbproject/private/
/Codigos_Godall/nbproject/private/
/Tp3/Ej6/nbproject/private/
/Tp3/Ej7/nbproject/private/
/Tp3/Ej6/build/
/Tp5/Ej1Tp5/target/
/Tp5/Ej8Tp5/target/
/Tp5/Ej9Tp5/target/
/Tp5/Ej9Tp5/nbproject/
/Tp5/Ej10Tp5/nbproject/
/Tp5/Ej10Tp5/target/
/Tp5/Ej8Tp5/nbproject/
/Tp5/Ej2Tp5/Ej2tp51/target/
/Tp5/Ej2Tp5/Ej2Tp5/target/
/Tp5/Ej2Tp5/nbproject/
/Tp5/Ej2Tp5/target/
/Tp5/Ej3Tp5/nbproject/
/Tp5/Ej3Tp5/target/
/Tp5/Ej4Tp5/nbproject/
/Tp5/Ej4Tp5/target/
/Tp4/Ej6Tp4/target/
/Tp5/Ej5Tp5/target/
/Tp5/Ej7Tp5/nbproject/
/Tp5/Ej7Tp5/target/
/Tp5/Ej11Tp5/nbproject/
/Tp5/Ej11Tp5/target/
/Tp4/Ej7Tp5/target/
/Tp6/Tp6Ej1/nbproject/
/Tp6/Tp6Ej1/target/
/Tp6/Ej2Tp6/nbproject/
/Tp6/Ej2Tp6/target/
/Tp6/Ej1Tp6/target/
/Tp6/Ej1Tp6/nbproject/
/Tp6/Ej3Tp6/nbproject/
/Tp6/Ej3Tp6/target/
/Tp6/Ej4Tp6/nbproject/
/Tp6/Ej4Tp6/target/
/Tp6/Ej5Tp6/nbproject/
/Tp6/Ej5Tp6/target/
/Tp6/Ej6Tp6/nbproject/
/Tp6/Ej6Tp6/target/
/Tp6/Ej8Tp6/nbproject/
/Tp6/Ej8Tp6/target/
/Figuras_Ejemplo/nbproject/
/Figuras_Ejemplo/target/
/Tp6/Ej9Tp6/nbproject/
/Tp6/Ej9Tp6/target/
/Tp6/Ej10Tp6/nbproject/
/Tp6/Ej10Tp6/target/
/Tp6/Ej11Tp6/nbproject/
/Tp6/Ej11Tp6/target/
/Tp7/TestArbol/target/
/Tp7/Ej1Tp7/nbproject/
/Tp7/Ej1Tp7/target/
/Tp7/Ej2Tp7/target/
/Tp7/Ej3Tp7/target/
/Tp7/Ej4Tp7/nbproject/
/Tp7/Ej4Tp7/target/
